[submodule "lib/Servo"]
	path = lib/Servo
	url = https://github.com/arduino-libraries/Servo.git
[submodule "lib/ArduinoCore-avr"]
	path = lib/ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr.git
[submodule "lib/TB6612FNG"]
	path = lib/TB6612FNG
	url = https://github.com/sparkfun/SparkFun_TB6612FNG_Arduino_Library.git
